#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define BASE 0
#define LSIDE  1
#define RSIDE  2
#define SYS  3

&mt {
  // quick-tap-ms = <100>;
  // global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <250>;
};

/ {
    behaviors {
        tdEsc: tap_dance_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "tap dance Esc";
            #binding-cells = <0>;
            tapping-term-ms = <225>;
            bindings = <&kp ESC>, <&kp GRAVE>;
        };
    };

     combos {
            compatible = "zmk,combos";


            combo_L_home_midring {
                timeout-ms = <50>;
                key-positions = <14 15>;
                bindings = <&kp ESC>;
            };
            combo_L_home_indexmid {
                timeout-ms = <50>;
                key-positions = <15 16>;
                bindings = <&kp TAB>;
            };


            combo_R_home_indexmid {
                timeout-ms = <50>;
                key-positions = <19 20>;
                bindings = <&kp SPACE>;
            };
            combo_R_home_midring {
                timeout-ms = <50>;
                key-positions = <20 21>;
                bindings = <&kp RETURN>;
            };
            combo_R_down_indexmid {
                timeout-ms = <50>;
                key-positions = <31 32>;
                bindings = <&kp BSPC>;
            };
            combo_R_down_midring {
                timeout-ms = <50>;
                key-positions = <32 33>;
                bindings = <&kp DEL>;
            };

            combo_R_thumb_1 {
                timeout-ms = <50>;
                key-positions = <30 42>;
                bindings = <&kp SPACE>;
            };
            combo_R_thumb_2 {
                timeout-ms = <50>;
                key-positions = <31 43>;
                bindings = <&kp RETURN>;
            };
    };
    
    keymap {
        compatible = "zmk,keymap";


        default_layer {
            bindings = <
&kp ESC             &kp Q           &kp W           &kp E           &kp R           &kp T                       &kp Y               &kp U           &kp I           &kp O           &kp P               &kp BSPC 
&kp TAB             &kp A           &kp S           &kp D           &kp F           &kp G                       &mt RGUI H          &kp J           &kp K           &kp L           &kp SEMICOLON       &kp RETURN           
&lt SYS LBKT        &kp Z           &kp X           &kp C           &kp V           &kp B                       &kp N               &kp M           &kp COMMA       &kp DOT         &kp SLASH           &lt SYS RBKT
&kp MINUS           &mt LGUI N1     &mt LSHFT N2    &mt LALT N3     &mt LCTRL N4    &lt RSIDE N5                &lt LSIDE N6        &mt RCTRL N7    &mt RALT N8     &mt RSHFT N9    &mt LGUI N0         &kp EQUAL        
            >;
      
        };

        left_layer {
            bindings = <
&none               &none           &kp KP_N7       &kp KP_N8       &kp KP_N9       &kp KP_PLUS                 &none               &none           &none           &none           &none               &none
&none               &none           &kp KP_N4       &kp KP_N5       &kp KP_N6       &kp KP_MINUS                &none               &none           &none           &none           &none               &none
&none               &none           &kp KP_N1       &kp KP_N2       &kp KP_N3       &kp KP_MULTIPLY             &none               &none           &none           &none           &none               &none
&none               &none           &none           &kp KP_DOT      &kp KP_N0       &kp KP_DIVIDE               &trans              &kp RCTRL       &kp RALT        &kp RSHFT       &kp RGUI            &none
            >;
        };

        right_layer {
            bindings = <
&none               &none           &none           &none           &none           &none                       &kp PG_UP           &kp HOME        &kp UP          &kp END         &none               &kp PLUS   
&none               &none           &none           &none           &none           &none                       &kp PG_DN           &kp LEFT        &kp DOWN        &kp RIGHT       &kp SINGLE_QUOTE    &kp EQUAL
&none               &none           &none           &none           &none           &none                       &none               &none           &none           &none           &kp BACKSLASH       &none
&none               &kp LGUI        &kp LSHFT       &kp LALT        &kp LCTRL       &trans                      &none               &none           &none           &none           &none               &none   
            >;
        };


        sys_layer {
            bindings = <
&kp K_POWER         &none           &rgb_ug RGB_HUI  &rgb_ug RGB_SAI &rgb_ug RGB_BRI &rgb_ug RGB_TOG             &kp F1              &kp F2          &kp F3          &kp F4          &kp F5              &kp F6
&none               &none           &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_BRD &rgb_ug RGB_EFF             &kp F7              &kp F8          &kp F9          &kp F10         &kp F11             &kp F12
&trans              &none           &none           &none           &none           &bootloader                 &bootloader         &kp C_BRI_UP    &kp C_VOL_UP    &none           &none               &none
&bt BT_SEL 0        &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_CLR      &none           &sys_reset                  &sys_reset          &kp C_BRI_DN    &kp C_VOL_DN    &none           &none               &none
            >;
        };
    };
};
